/* Font imports */
@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Wittgenstein:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wittgenstein:ital@0;1&display=swap");

:root {
  --primary-color: #6064b8;
  --secondary-color: #c4daed;
  --accent1-color: #db5879;
  --accent2-color: #e6a8d2;

  /* Fonts */
  --heading-font: "Playfair Display SC", serif;
  --paragraph-font: "Roboto", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color);
  --headline-color-on-color: white;
  --paragraph-color-on-white: var(--primary-color);
  --paragraph-color-on-color: white;
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: white;
  --nav-background-color: var(--accent1-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--secondary-color);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  max-width: 940px;
  margin: auto auto;
  padding: 1em, 2em;
  font-size: 18px;
}

.content {
  background-color: white;
  margin: 0 auto;
  max-width: 1000px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

header {
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--accent2-color);
}
header > h1,
header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
}
nav a {
  padding: 1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

main img {
  box-shadow: 0 0 7px #808080;
}
main {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  margin: 3em;
}
footer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: var(--accent1-color);
  align-items: center;
  padding: 0.8%;
}

footer h3 {
  color: var(--headline-color-on-color);
}

footer p {
  color: var(--paragraph-color-on-color);
  padding: 0px 10px;
}

footer .social {
  margin-left: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

footer .social img {
  margin-left: 5px;
}
